{
  "finder": [
    {
      "name": [
        "*.php"
      ],
      "exclude": [
        "Test",
        "test",
        "Tests",
        "tests"
      ],
      "in": [
        "app",
        "src",
        "vendor"
      ]
    }
  ]
}

